<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
      <h1>	<%= @forum.title %> </h1>
      <a href="/forums" class="btn btn-primary btn-sm">Back to all forums</a>
      <a href="/forums/<%= @forum.id %>/edit" class="btn btn-warning btn-sm">Edit this forum</a>

  		<div class="col-md-12 bg-white">
            <div class="row border-bottom padding-sm" style="height: 20px;">
            </div>
          </div>
          </div>



<!-- <div class="container">
    <div class="row">
        <div class="col-md-8 bg-white">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> <%= @forum.title %> -->

<% @forum.comments.each do |comment| %>
  <div class="chat-message">
      <div class="col-md-12 bg-white">
        <ul class="chat" style="list-style-type: none">
          <li class="left clearfix"> <span class="chat-img pull-left" >
            <img src="<%= comment.user.profile_photo %>" alt="User Avatar" class="img-square" height="85" width="120" hspace="20" >
                  </span>
                <div class="chat-body clearfix" >
                    <div class="header">
                        <strong class="primary-font"> <%= comment.user.name %> </strong>
                        <small class="pull-right text-muted">
                            <span class="fa fa-clock-o"></span>
                            <%= time_ago_in_words(comment.created_at) %>
                          </small>
                    </div>
                    <p>
                        <%= comment.content %>
                    </p>
                    </div>
                    </li>
                    </div>
                  </div>
  <% end  %>
              <div class="panel-footer">
            <div class="input-group">
                  <div class="col-md-12 bg-white">
                     <form action="/create_comment" method="post">
                       <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                       <input name="user_id" type="hidden" value="<%= current_user.id %>">
                       <input name="forum_id" type="hidden" value="<%= @forum.id %>">

                       <span>
                       <input type="text" id="content" name="content" placeholder="Message" class="form-control" size="120" value="<%= @comment.content %>">

                     <button class="btn btn-warning btn-sm" id="btn-chat"> Send</button>
                   </span>
                   </div>
               </div>
               </div>
               </div>
