<div class="page-header">
  <h3>Forum #<%= @forum.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @forum.title %></dd>

      <dt>Wedding</dt>
      <dd><%= @forum.wedding_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/forums" class="btn btn-primary">
        Back
      </a>
      <a href="/forums/<%= @forum.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_forum/<%= @forum.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
