<div class="page-header">
  <h1>
    Help out on some to-dos!
    <a href="/tasks/new" class="btn btn-lg btn-success">New Task</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Task</th>
        <th>Description...</th>
        <th>Due date!</th>
        <th>Completed? </th>
              </tr>
              <tbody>

      <% @tasks.each do |task| %>
      <tr>
        <td> <a href="/tasks/<%= task.id %>" class="btn btn-secondary"> <%= task.task_title %> </a></td>
        <td><%= task.task_short_desc %></td>
        <td><%= task.due_date %></td>
        <td><%= task.date_completed %></td>

      </tr><% end %>
</tbody>
    </table>
  </div>
</div>
