<div class="page-header">
  <h3>Task #<%= @task.task_title %></h3>
</div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Task Description</th>
        <th>Task Due Date </th>
        <th>Task Completed Date </th>
        <th>Task Notes</th>
        <th>Task Assignees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @task.task_short_desc %></td>
        <td>@task.due_date </td>
        <td>john@example.com</td>
        <td> </td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>





<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Due date</dt>
      <dd><%= @task.due_date %></dd>

      <dt>Date completed</dt>
      <dd><%= @task.date_completed %></dd>

      <dt>Task title</dt>
      <dd><%= @task.task_title %></dd>

      <dt>Task short desc</dt>
      <dd><%= @task.task_short_desc %></dd>

      <dt>Task note</dt>
      <dd><%= @task.task_note %></dd>

      <dt>Wedding</dt>
      <dd><%= @task.wedding_id %></dd>

      <dt>Leader</dt>
      <dd><%= @task.leader_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
