<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
      <h1>	<%= @task.task_title %> </h1>
      <a href="/tasks" class="btn btn-primary btn-sm">Back to all tasks</a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning btn-sm">Edit this task</a>

  		<div class="col-md-12 bg-white">
            <div class="row border-bottom padding-sm" style="height: 20px;">
            </div>
          </div>
          </div>

  <table class="table table-bordered">
    <colgroup>
            <col class="col-md-1">
            <col class="col-md-6">
        </colgroup>
        <tbody>
          <tr>
        <th>Short Description</th>
        <td><%= @task.task_short_desc %></td>
      </tr>

        <tr>
          <th>Due Date </th>
        <td><%= @task.due_date %> </td>
      </tr>

      <tr>
        <th>Completed Date </th>
        <td> <%= @task.date_completed %></td>
      </tr>

      <tr>
        <th>Notes</th>
        <td> <%= @task.task_note %> </td>
      </tr>

            </tbody>
      </table>
